<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Sakura.css is a nice-looking defaults stylesheet for simple html pages -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css" /> -->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />

  <!-- and/or link to your own css -->
  <link href="/style.css" rel="stylesheet" />

  <link rel="icon" href="/favicon.png" type="image/x-icon" />

  <title><%= title %></title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/one">one</a></li>
        <li><a href="/two">two</a></li>
        <li><a href="/three">three</a></li>
        <li><a href="/four">four (sessions)</a></li>
        <li><a href="/products.json">products(json)</a></li>
        <li><a href="/products">products (html)</a></li>
        <li><a href="/formDemo">formDemo</a></li>
      </ul>
    </nav>
  </header>
  <h1><%= title %></h1>
</body>

</html>