<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Sakura.css is a nice-looking stylesheet for simple html pages -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alvaromontoro/almond.css@latest/dist/almond.min.css" /> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">

  <!-- and/or link to your own css -->
  <link href="/style.css" rel="stylesheet" />

  <link rel="icon" href="favicon.png" type="image/x-icon">

  <title>two.ejs</title>
</head>

<body>
  <%- include("./header.ejs") %>
  <h2>This is two.ejs</h2>
  <div class="grid">
    <% for (let x of [10, 20, 30, 40, 50]){ %>
    <div class="cell"><%= x %></div>
    <% } %>
  </div>

  <hr />
  <h2>Section 2</h2>
  <section>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
    <aside>
      <h3>Card heading</h3>
      <p>Card content*</p>
      <p><small>*with small content</small></p>
    </aside>
    <aside>
      <h3>Card heading</h3>
      <p>Card content</p>
    </aside>
  </section>
  <h2>Section 3</h2>
  <section>
    <form>
      <p><strong>This is just a test form. It doesn't do anything.</strong></p>

      <p><select>
          <option selected="selected" value="1">Title</option>
          <option value="2">Mr</option>
          <option value="3">Miss</option>
          <option value="4">Mrs</option>
          <option value="5">Other</option>
        </select></p>

      <p>
        <label>First name</label>
        <input type="text" name="first_name">
      </p>

      <p>
        <label>Surname</label>
        <input type="text" name="surname">
      </p>

      <p>
        <label>Email</label>
        <input type="email" name="email" required="">
      </p>

      <p>
        <label>Enquiry type:</label>
        <label><input checked="checked" name="type" type="radio" value="sales" /> Sales</label>
        <label><input name="type" type="radio" value="support" /> Support</label>
        <label><input name="type" type="radio" value="billing" /> Billing</label>
      </p>

      <p>
        <label>Message</label>
        <textarea rows="6"></textarea>
      </p>

      <p>
        <label for="cars">Choose a car:</label>
        <select name="cars" id="cars" multiple>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
      </p>

      <p>
        <label>
          <input type="checkbox" id="checkbox" value="terms">
          I agree to the <a href="#">terms and conditions</a>
        </label>
      </p>

      <button>Send</button>
      <button type="reset">Reset</button>
      <button disabled="disabled">Disabled</button>
    </form>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
  </section>
  <h2>Section 4</h2>
  <section>
    <figure>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Opinion on cheese</th>
            <th>Favourite tea</th>
            <th>Colour of choice</th>
            <th>Unusual fact</th>
            <th>Horse?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jackie</td>
            <td>012345</td>
            <td>Sometimes</td>
            <td>Earl grey, hot</td>
            <td>Blue</td>
            <td>Communicates exclusively in metaphors</td>
            <td>Aye</td>
          </tr>
          <tr>
            <td>Lucy</td>
            <td>112346</td>
            <td>Only on Tuesdays</td>
            <td>The green one</td>
            <td>The green one</td>
            <td>Caught a glimpse of an Australian badger</td>
            <td>Aye</td>
          </tr>
          <tr>
            <td>David</td>
            <td>493029</td>
            <td>Always eat the rind</td>
            <td>London fog</td>
            <td>Purple</td>
            <td>Has never been to London</td>
            <td>Aye</td>
          </tr>
          <tr>
            <td>Kerry</td>
            <td>395499</td>
            <td>It's on the moon</td>
            <td>Camomile</td>
            <td>Yellow</td>
            <td>Has been to the moon</td>
            <td>Aye</td>
          </tr>
          <tr>
            <td>Steve</td>
            <td>002458</td>
            <td>No</td>
            <td>Black tea brewed using ISO 3103</td>
            <td>Chestnut</td>
            <td>Has a 350° field of view</td>
            <td>Neigh</td>
          </tr>
        </tbody>
      </table>
      <figcaption>A wide table showing horizontal scroll behavior.</figcaption>
    </figure>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
    <details>
      <summary>Spoiler alert!</summary>
      <p>You smell. 🙂</p>
    </details>
  </section>
</body>

</html>