  <%- include("../partials/header.ejs", {title: "Four"}) %>

  Add to session:
  <form action="/addToSession" method="POST">
    <input name="message" placeholder="your message here" type="input" />
    <button>send</button>
  </form>

  <pre>
    <%= JSON.stringify(session, null, 2) %>
  </pre>
  </body>

  </html>