<%- include("../partials/header.ejs", {title: "Three"}) %>

<h2>Section 2</h2>
<section>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
  <aside>
    <h3>Card heading</h3>
    <p>Card content*</p>
    <p><small>*with small content</small></p>
  </aside>
  <aside>
    <h3>Card heading</h3>
    <p>Card content</p>
  </aside>
</section>
<h2>Section 3</h2>
<section>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
</section>
<h2>Section 4</h2>
<section>
  <figure>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Opinion on cheese</th>
          <th>Favourite tea</th>
          <th>Colour of choice</th>
          <th>Unusual fact</th>
          <th>Horse?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jackie</td>
          <td>012345</td>
          <td>Sometimes</td>
          <td>Earl grey, hot</td>
          <td>Blue</td>
          <td>Communicates exclusively in metaphors</td>
          <td>Aye</td>
        </tr>
        <tr>
          <td>Lucy</td>
          <td>112346</td>
          <td>Only on Tuesdays</td>
          <td>The green one</td>
          <td>The green one</td>
          <td>Caught a glimpse of an Australian badger</td>
          <td>Aye</td>
        </tr>
        <tr>
          <td>David</td>
          <td>493029</td>
          <td>Always eat the rind</td>
          <td>London fog</td>
          <td>Purple</td>
          <td>Has never been to London</td>
          <td>Aye</td>
        </tr>
        <tr>
          <td>Kerry</td>
          <td>395499</td>
          <td>It's on the moon</td>
          <td>Camomile</td>
          <td>Yellow</td>
          <td>Has been to the moon</td>
          <td>Aye</td>
        </tr>
        <tr>
          <td>Steve</td>
          <td>002458</td>
          <td>No</td>
          <td>Black tea brewed using ISO 3103</td>
          <td>Chestnut</td>
          <td>Has a 350° field of view</td>
          <td>Neigh</td>
        </tr>
      </tbody>
    </table>
    <figcaption>A wide table showing horizontal scroll behavior.</figcaption>
  </figure>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum debitis doloribus vitae! Voluptatum tempora voluptatem quia vitae explicabo, reprehenderit libero laborum, non tempore voluptatibus nesciunt doloribus cupiditate possimus, sunt soluta!
  <details>
    <summary>Spoiler alert!</summary>
    <p>You smell. 🙂</p>
  </details>
</section>
</body>

</html>