<%- include("../partials/header.ejs", {title: "Two"}) %>

<div>hello from two.ejs</div>
<%= new Date() %>

<h1>Grid</h1>
<div class="grid">
  <% for (let x of [10, 20, 30, 40, 50]){ %>
  <div class="cell"><%= x %></div>
  <% } %>
</div>
</body>

</html>